<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Buttplug" version="1.0.12" targetFramework="net472" />
  <package id="ButtplugRustFFI" version="1.0.10" targetFramework="net472" />
  <package id="EasyHook" version="2.7.7097" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0-ci2312" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0-ci2312" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0" targetFramework="net472" />
  <package id="NLog" version="4.7.7" targetFramework="net472" />
  <package id="Octokit" version="0.48.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net472" />
</packages>